@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
}

@font-face {
  font-family: 'SF Sports Night';
  src: url('../public/fonts/SF Sports Night.ttf');
}

@font-face {
  font-family: 'SF Sports Night NS';
  src: url('../public/fonts/SF Sports Night NS.ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../public/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Pistara';
  src: url('../public/fonts/Pistara.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../public/fonts/Lato-Regular.ttf');
}